body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    color: #333;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #5a67d8;
    box-shadow: 0 0 5px rgba(90, 103, 216, 0.3);
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5a67d8;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

button[type="submit"]:hover {
    background-color: #434190;
}

h6 {
    text-align: center;
    margin-top: 20px;
    color: #5a67d8;
    cursor: pointer;
    transition: all 0.3s;
}

h6:hover {
    color: #434190;
    text-decoration: underline;
}
